<div class="Contact">
   
    <div class="cards" id="Contact">
        <H2>Contact and social midia</H2>
        <section class="cardr"><a href=mailto:fabriciominowa12@gmail.com.com><img class="l" src="./assets/icons8-gmail-logo-40.png"  alt=" wbe"> </a>
            </section>
        <section class="cardr"><a href="https://www.linkedin.com/in/fabr%C3%ADciomoraesminowa/"><img class="l" src="./assets/icons8-linkedin-40.png" alt=""></a></section>
        <section class="cardr"><a href=" https://wa.me/11966756431"><img class="l" src="./assets/icons8-whatsapp-40.png" alt=""></a> </section>
        <section class="cardr"><a href="https://github.com/fabriciominowa"><img class="l" src="./assets/icons8-github-48.png" alt=""></a> </section>

        <section class="cardr"><a href="https://www.behance.net/fabriciominowa"><img class="l" src="./assets/icons8-behance-48.png" alt=""></a> </section>

    </div>
  
        


    </div>
