<div class="cards" id="services">

  
    <section>
        <H2>Services</H2>
        <section class="card"><img class="l" src="./assets/icons8-web-64.png"alt=" wbe"> <P>Web Design</P> <p> create a web design profissional</p> <br><br><p>to know values and budgets contact</p>  <div class="buttom"><a  href=" https://wa.me/11966756431">Contact</a></div>
            </section>
        <section class="card"><img class="l" src="./assets/icons8-development-64.png"  alt=""><P>Development</P> <p>I development your web site or app</p> <br><br><p>to know values and budgets contact</p>  <div class="buttom"><a  href="https://wa.me/11966756431">Contact</a></div></section>
        <section class="card"><img class="l" src="./assets/icons8-web-marketing-64.png"  alt=""><P>Digital marketing</P> <p>I make your marketing digital </p>
            <br><br><p>to know values and budgets contact </p>
            <div class="buttom"><a  href=" https://wa.me/11966756431">Contact</a></div>
        </section>
    
    </section>
   
</div>
