

header {
  
    display: flex;
    justify-content: center;
    padding: 0px 000px;
    z-index: 100;
    
  
    
    left: 0px;
    top: 0px;


    background: rgba(217, 217, 217, 0.22);

}
.logo{
    position: relative;
    text-align: center;
    margin-top: 15%;
   
    }
    
header .logo img {
  text-align: center;
    text-decoration: none;
}
.nav{
    display: flex;
    text-align: center;
    margin-right: 50px;

}
.nav li {
    list-style: none;
    margin: 0px 10px;
    text-align: center;
    margin-top: 10px;
}
.nav li a{
    color: #0a71f8;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
   
}

.lg{
    position: relative;
    text-decoration: none;
    list-style: none;
    color: #0a71f8;
    margin-top: 25px;
    text-align: center;
    font-size: larger;
}

.marca{
    position: relative;
    text-align: center;
    margin-top: 15%;

}